
.ayumi-eye{
    .main .sec-top .container .content .left .content-body p{
        color: #ED7800;
    }
    .main .sec-top .container .content .left .content-ft{
        font-size: 2rem;
        margin-top: 2.4rem;
    }
    .main .sec-top .container .content .left .btn .btn-primary{
        background: #ED7800;
    }
    .main .sec-top .container .content .left .btn .v2{
        background: #fff;
        border: 2px solid #ED7800;
        color: #ED7800;
    }
}